@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #FF6060;
$gray: #F6F6F6;
$text-color: #333;
$font-family: 'Montserrat';

$mobile: 768px;