@import '../../styles/abstracts/_variables.scss';
@import '../../styles/abstracts/_mixins.scss';

.header {
  @include center-flex(row, space-between, center);
  margin: 40px 7vw 0;

  @media (max-width:$mobile) {
    margin: 20px 5.3vw;
  }

  &__logo {
    width: 210px;

    @media (max-width:$mobile) {
      width: 145px;
    }
  }

  &__nav {
    @include center-flex(row, center, center);
    gap: 4vw;
  }

  &__link {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    position: relative;

    @media (max-width:$mobile) {
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  &__link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &__link:hover:after {
    width: 100%;
    left: 0;
  }

}